lifelog-logger/target
lifelog-logger/data
lifelog-logger/result
lifelog-logger/dev-data
/dev-data
/data
lifelog-logger/config.toml
lifelog-logger/tmp
lifelog-logger/dev-config.toml
/target
/result
/data
dev-config.toml
tmp
config.toml
.DS_Store
other-projects.md
lifelogging.md
.db
