# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
*.local
target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sensitive or large files
*.db
*.db-shm
*.db-wal
uploads/
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.wav
*.mp3

lifelog-logger/target
lifelog-logger/data
lifelog-logger/result
lifelog-logger/dev-data
/dev-data
/data
lifelog-logger/config.toml
lifelog-logger/tmp
lifelog-logger/dev-config.toml
interface/src-tauri/target
interface/result
/target
/result
/data
dev-config.toml
tmp
config.toml
other-projects.md
lifelogging.md
node_modules/

# auto generated types
*.type.json 
