name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  validate-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Cache Cargo Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: nix develop --command cargo fmt -- --check

      - name: Cargo check
        run: nix develop --command cargo check --all-targets

      - name: Clippy lints
        run: nix develop --command cargo clippy --all-targets -- -D warnings

      - name: Run tests
        run: nix develop --command cargo nextest run --all-targets

  validate-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install protobuf tesseract

      - name: Cache Cargo Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cargo check
        run: cargo check --all-targets

      - name: Run tests
        run: cargo test --all-targets
